html {
  height: 100%;
  font-family:Palatino;
}


body {
  height: 100%;
  overflow: hidden;
}


.hidden {
  display: none;
}


#home {
  background-color: red;
}


#journey {
  height: 100%;
  background-color: #5F9FFF;
}


#event {
  background-color: magenta;
  white-space: pre-wrap;
}


#progress-area {
  float: left;
  position: relative;
  width: 100%;
  margin: 0px;
}


#trees {
  width: 100%;
  image-rendering: pixelated;
}


#caravan {
  width: 6%;
  image-rendering: pixelated;
  position: absolute;
  bottom: 90px;
  left: 0;
}


#stats-area {
  background-color: white;
  float: left;
  border-style: solid;
  height: 25%;
  width: 25%;
  margin: 10px;
  padding: 10px;
  font-size: 24px;

}


.stat-value {
  float: right;
}


#updates-area {
  background-color: white;
  float: left;
  border-style: solid;
  width: 50%;
  margin: 10px;
  height: 25%;
  padding: 10px;
  font-size: 18px;
  font-family:Palatino;
  overflow-y: scroll;
  white-space: pre-wrap;
}


.update-positive {
  color: green;
}


.update-negative {
  color: red;
}

.update-neutral {
  color: black;
}

#history {
  float: left;
  background-color: white;
  font-family:Palatino;
  margin: 10px;
  border-style: solid;
  padding: 10px;
  height: 25%;
  width: 13%;
  text-align: center;
}

#history button {
  background-color: white;
  color: black;
  border-style: groove;
  width: 66%;
  font-family:Palatino;
  text-align: center;
  font-size: 16px;
  margin: none;
  cursor: pointer;

}

#shop {
  float: left;
  text-align: center;
  background-color: white;
  font-family:Palatino;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  height: 25%;
  width: 13%;
}


.product {
  width: 100%;
  text-align: center;
  border-style: groove;
  font-size: 16px;
  font-family:Palatino;
  cursor: pointer;
}

#prods {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family:Palatino;
  cursor: pointer;
}


#shop button {
  background-color: white;
  color: black;
  border-style: groove;
  width: 66%;
  font-family:Palatino;
  text-align: center;
  font-size: 16px;
  margin: none;
  cursor: pointer;

}


#attack {
  float: left;
  text-align: center;
  background-color: white;
  font-family:Palatino;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  height: 25%;
  width: 13%;
}

#attack button {
  background-color: white;
  color: black;
  border-style: groove;
  width: 100%;
  font-family:Palatino;
  text-align: center;
  font-size: 16px;
  margin: none;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  height:42%;
  background-color: #cc9966;
  font-family:Palatino;
  text-align: center;
  font-size: 100px;
  overflow: hidden;
}
